.epidemium{
    padding-top: 30px;
    margin-bottom: 40px;
}
 .p{
     margin-bottom: 0px;
     padding-bottom: 30px;
 }

 .epi-text{
    color: #3847A0;
    font-size: 19px;
 }

 .epi-title{
    color: rgb(0, 223, 183);
    font-weight: bolder;
}