.deuxieme-row{
    padding-bottom: 2em;
    padding-top: 2em;

}

.gp-text{
    color:rgb(0, 223, 183);
    font-weight: bolder;
}

.gp-space{
    padding: 30px;
    margin-bottom: 40px;
}

.center{
    justify-content: center;
}