.white-text {
    color: white;
}

.mentions{
  cursor: pointer;
}

.white {
    color: #ffffff;
    font-size: 23px;
}

.socials {
    padding: 25px;
    background-color: #3847A0;
    bottom: 0;
    position: static;
    width: 100%;
    height: 170px;
  }
  
.icons {
    padding: 10px;
}

  