.navcolor {
    background-color: #4F00A1;
    font-size:22px;
}

.logo {
    width: 50px;
    display: flex;
    justify-content: start;    
} 

.links {
    padding-left: 50px;
}

.img-spaced{
    padding-left: 20px;
    
}

.nav-p{
    color: white;
    padding-top: 11px;
    padding-left: 10px;
}